<h3 class="text-center p-3">
  <span style="color: #4a4857">  <i class="fas fa-user-friends"></i> </span>
    <span class="text-muted ">Users</span>

    
    <hr>
  </h3>
  <button routerLink="/create-user" type="button" class="btn btn-info"> 
    <i class="fas fa-plus"></i>
    Register User
  </button>
  <hr>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Actives</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Inactive</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table  table-hover table-responsive-md">
            <thead class="thead" style="color:rgb(40, 40, 200)">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <th scope="row" >{{user.id}}</th>
                <td >{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.status}}</td>
                <td>
                    <i class="far fa-edit" style="color:green">  </i>
                    <i (click)="delete(user.id)" class="far fa-trash-alt" style="color:red"></i>
                </td>
                <td>
                  <a routerLink="/user/details/{{user.id}}">
                  <i class="fa-solid fa-angle-right"></i>
                </a> 
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >
        Users Active
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        User inactive
    </div>
  </div>