<h3 class="text-center p-5  ">
    <span class="text-muted ">Details card</span>
    <span style="color: rgb(40, 40, 200)">{{DatosCards.cardNumber}} </span>
    <hr>
  </h3>

  <div class="container">
    <div class="row">
      <div class=" col col-6 ">
        <img src="assets/img/Card.png" alt="" class="img-fluid" alt="Responsive image" style="width:400px">
      </div>
      <div class="col col-6 ">
        <div class="row d-flex justify-content-center m-1">
          <div class="input_container">
            <div class="input_div">
              <span >Card Number <i class="fa-sharp fa-solid fa-file-invoice-dollar"></i></span>
              <p>{{DatosCards.cardNumber}}</p>
            </div>
            <div class="input_div">
              <span >Card Type 
                <i class="fa-sharp fa-solid fa-receipt"></i></span>
               <p>{{DatosCards.cardType}}</p>
            </div>
            <div class="input_div">
              <span >Balance <i class="fa-solid fa-money-bill-transfer"></i></span>
              <p>{{DatosCards.balance}}</p>
            </div>
            <div class="input_div">
              <span >User
                <i class="fa-regular fa-user"></i>
              </span>
              <p>{{DatosCards.userId}}</p>
            </div>
            <div class="input_div">
              <span >Status
                <i class="fa-solid fa-chart-line"></i>
              </span>
              <p>{{Type}}</p>
            </div>
            <div class="input_div">
              <span >Ammount
                <i class="fa-solid fa-money-bill-trend-up"></i>
              </span>
              <p>{{DatosCards.ammount}}</p>
            </div>
            </div>
      </div>
    </div>
    </div>