<h3 class="text-center p-3">
    <span class="text-muted ">Accounts</span>
    <span style="color: rgb(40, 40, 200)">  <i class="fa-solid fa-users p-3"></i> </span>
    <hr>
  </h3>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Accounts</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Actives</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Inactive</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <table class="table  table-hover table-responsive-md">
            <thead class="thead" style="color:rgb(40, 40, 200)">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">AccountNumber</th>
                <th scope="col">AccountType</th>
                <th scope="col">Balance</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts">
                <th scope="row" >{{account.id}}</th>
                <td >{{account.accountNumber}}</td>
                <td>{{account.accountType}}</td>
                <td>{{account.balance}}</td>
                <td>{{account.status}}</td>
                <td>
                    <i class="fa-solid fa-pen-to-square p-2" style="color:green" [routerLink]=''></i>
                    <i class="fa-solid fa-trash" style="color:red"></i>
                </td>
                <td>
                  <a routerLink="/account/details/{{account.id}}">
                  <i class="fa-solid fa-angle-right" ></i>
                </a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
       <p class="text-center p-3">
        Users Activos
       </p>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <p class="text-center p-3">
        Users Inactivos
       </p>
    </div>
  </div>